body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.main-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

.main-nav li {
    display: inline-block;
    padding: 20px 30px;
}

.nav-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
}

.logo {
    font-size: 40px;
    font-weight: bold;
    color: hotpink;
    padding: 0 0 0 40px;
}

img {
    padding: 30px 200px;
}