body {
    font-family: 'Open Sans', sans-serif;
    background: rgba(0,0,0, 0.08);

}

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
}

.movie {
    /*border: 1px solid lightgray;*/
    border-radius: 7px;
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px 20px;
    margin: 10px 0;
    color: rgba(0,0,0, 0.7);
    background: #fff;
    /*box-shadow: -2px 6px 14px 0px rgba(50, 50, 50, 0.4);*/
}

.movie:hover {
    box-shadow: -2px 6px 14px 0px rgba(50, 50, 50, 0.4);
}

h3 {
    font-weight: normal;
    flex-grow: 10;
    align-self: stretch;
    margin: 0;
    padding: 6px 0;
    font-size: 16px;
    text-transform: uppercase;
    /*background: rgba(0,0,0,0.045);*/
    border-radius: 5px;
}

p {
    margin: 0;
    padding: 0 0 10px 0;
    color: rgba(0,0,0, 0.35);

}

.image {
    height: 300px;
    width: auto;
    border-radius: 4px;
}